<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCLayer</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<true/>
	<key>className</key>
	<string>CCUILayer</string>
	<key>editorClassName</key>
	<string>CCBPEXUILayer</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>dontSetInEditor</key>
			<true/>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>ignoreAnchorPointForPosition</string>
			<key>displayName</key>
			<string>Ignore anchor point</string>
		</dict>
		<dict>
			<key>dontSetInEditor</key>
			<true/>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>touchEnabled</string>
			<key>displayName</key>
			<string>Touch enabled</string>
		</dict>
		<dict>
			<key>dontSetInEditor</key>
			<true/>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>accelerometerEnabled</string>
			<key>displayName</key>
			<string>Accelerometer enabled</string>
		</dict>
		<dict>
			<key>dontSetInEditor</key>
			<true/>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>mouseEnabled</string>
			<key>displayName</key>
			<string>Mouse enabled</string>
		</dict>
		<dict>
			<key>dontSetInEditor</key>
			<true/>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>keyboardEnabled</string>
			<key>displayName</key>
			<string>Keyboard enabled</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>UILayer</string>
			<key>name</key>
			<string>UILayer</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<true/>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>Enable touch</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>enableTouch</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<true/>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>Swallow touches</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>isSwallowTouches</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<true/>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>Multiple touch</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>enableMultipleTouch</string>
		</dict>
	</array>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>CCSprite</string>
		<key>property</key>
		<string>displayFrame</string>
	</dict>
</dict>
</plist>
