<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>canBeRootNode</key>
	<false/>
	<key>className</key>
	<string>CCProgressTimer</string>
	<key>editorClassName</key>
	<string>CCBPEXProgressTimer</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCProgressTimer</string>
			<key>name</key>
			<string>CCProgressTimer</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Type</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>type</string>
			<key>extra</key>
			<string>Radial|0|Bar|1</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>percentage</string>
				<string>contentSize</string>
			</array>
			<key>animatable</key>
			<false/>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>displayName</key>
			<string>displayFrame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>displayFrame</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>percentage</string>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>midpoint</string>
			<key>displayName</key>
			<string>Mid Point</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>percentage</string>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>barChangeRate</string>
			<key>displayName</key>
			<string>Bar Change Rate</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>percentage</string>
			</array>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>reverseDirection</string>
			<key>displayName</key>
			<string>Reverse Direction</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>100</integer>
			<key>default</key>
			<integer>100</integer>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>percentage</string>
			<key>displayName</key>
			<string>Percentage</string>
		</dict>
	</array>
	<key>spriteFrameDrop</key>
	<dict>
		<key>className</key>
		<string>CCSprite</string>
		<key>property</key>
		<string>displayFrame</string>
	</dict>
</dict>
</plist>
